.container {
  margin-top: 4.31rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  height: 18.825rem;
}
/* .check>div>a{
background-color: red !important;
} */
.media {
  flex-direction: row;
}

@media screen and (max-width: 580px) {
  .container {
    margin: 0;
  }

  .links {
    margin-top: 1.5rem;
  }

  .media {
    flex-direction: column;
    margin-right: 4.25rem;
    /* text-align: start; */
    margin-left: 120px;
  }
}
