.paragraph {
    display: block;
    font-size: var(--typography-paragraph-font-size);
    font-weight: var(--typography-paragraph-font-weight);
    font-family: var(--typography-paragraph-font-family);
    line-height: var(--typography-paragraph-line-height);
    color: var(--color-white);
}
